.collection-gallery_ {
  &component {
    background-color: #f2f2f2;
    color: #000;
  }

  &gallery {
    padding: 24px 0 80px 0;
    min-height: 500px;
  }

  &heading {
    font-size: 24px;
    font-weight: 700;
  }

  &layout {
    margin: 16px 0 72px 0;
    width: 100%;

    &-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background-color: #fff;
      font-size: 14px;
      border: 1px solid #c5c5c5;
      box-shadow: 0px 1px 3px rgb(16 24 40 / 10%), 0px 1px 2px rgb(16 24 40 / 6%);
      border-radius: 4px;
      overflow: scroll;
    }

    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 16px;

      @media only screen and (max-width: 1300px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media only screen and (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
      }

      @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
      }
    }
  }

  &card-wrapper {
    position: relative;

    &:hover .collection-gallery_card-overlay {
      opacity: 1;
    }

    &:hover .collection-gallery_overlay-button {
      opacity: 1;
    }
  }

  &card-overlay {
    position: absolute;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.33), rgb(0, 0, 0, 0) 33%, rgb(0, 0, 0, 0));
    pointer-events: none;
    z-index: 1;
    transition: all 0.2s ease-in-out;
  }

  &card-wrapper {
  }

  &card-selected {
    outline: 5px solid #54c4c8;
    border-radius: 8px 8px 0 0;
  }

  &overlay-button {
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(#fff, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s ease-in-out;

    &-selected {
      background-color: rgba(#54c4c8, 0.75);
      transition: all 0.2s ease-in-out;
    }
  }

  &overlay-toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
  }

  &empty {
    margin: 52px 0 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 700px;
    }

    &-heading {
      font-size: 32px;
      font-weight: 500;
      line-height: 120%;
      color: var(--primary-500);
      margin-bottom: 20px;
    }

    &-body {
      font-size: 16px;
      line-height: 160%;
      color: #2e2e2e;
      margin-bottom: 24px;
    }
  }
}

.collection_ {
  &pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &list-item-layout {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: 50px 45% 25% 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    &_right-heading {
      padding-right: 24px;
    }
  }
}

.gallery-filter_ {
  &component {
    position: sticky;
    top: 54px;
    z-index: 9;
    background-color: #fff;
    color: #000;
  }

  &utility-div {
    @media only screen and (max-width: 1300px) {
      display: none;
    }
  }

  &layout {
    padding: 16px 0;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    gap: 48px;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 1300px) {
      grid-template-columns: 2fr 1fr;
    }

    @media only screen and (max-width: 1200px) {
      gap: 24px;
    }

    @media only screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  &multiselect {
    font-size: 14px;
  }

  &toggle-wrapper {
    display: none;

    @media only screen and (max-width:800px) {
      display: block;
    }
  }

  &grid-select {
    @media only screen and (max-width:800px) {
      display: none !important;
    }
  }

  &divider {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }


  &filter-wrapper {
    width: fit-content;
    display: flex;
  }
}
