.item-card_ {
  &component {
    background-color: #fff;
  }

  &image {
    height: 30rem;
    width: 20rem;
    margin: auto;
  }

  &layout {

  }

  &image-wrapper {
    height: 500px;
    width: 100%;
    padding: 20px;
    background-color: rgba(#000, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // &image-outline {
  //   padding: 3px;
  //   background-image: linear-gradient(to bottom left, #DF1353, #54C4C8);
  // }

  &image {
    width: 100%;
    height: 100%;
    object-fit: contain;  
  }
  
  &content-wrapper {
    color: black;
    margin: 4px 20px;
  }

  &title {
    font-size: 20px;
    font-weight: 700;
  }
  
  &price {

  }

  &select-wrapper {
    padding: 8px 16px;
    width: 100%;
  }

  &selected {
    outline: 5px solid #54c4c8;
  }

  &noselect {
    outline: 5px solid transparent;
  }
}

.error-message {
  color: #f44;
}

.success-message {
  color: #4f4;
}

.section- {
  &profile-info {
    width: 100%;
    padding: 40px 0 28px 0;
  }

  &collection {
    width: 100%;
  }
}

.gallery-filter_ {
  &component {
    position: sticky;
    top: 61px;
    z-index: 9;
    background-color: #161619;
  }

  &divider {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }

  &layout {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &filter-wrapper {
    width: fit-content;
    display: flex;
  }
}

.gallery_wrapper {
  display: flex;
  justify-content: center;
}

.gallery_ {
  &component {
    padding: 40px 0;
    width: 100%;
  }

  &list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;

    @media only screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}
