.search-bar_ {
  &filter {
    border-radius: 6px 0px 0px 6px !important;
    width: fit-content !important;
    border-right: none !important;
  }

  &input {
    border-radius: 0 !important;
  }

  &button {
    border-radius: 0 !important;

    & > * {
      stroke-width: 1;
      overflow: visible;
    }
  }
}
