.user-banner_ {
  &component {
    padding: 32px 0;
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &bg-sphere {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(30%);
    z-index: 0;
    pointer-events: none;
    opacity: 40%;
  }

  &layout {
    display: flex;
    align-items: center;
    gap: 40px;

    @media only screen and (max-width: 500px) {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  }

  &content-layout {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 104px;
    align-items: flex-end;
    grid-row-gap: 8px;
    width: 100%;

    @media only screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;

      & div:nth-child(2) {
        margin-top: 8px;
        grid-row: 3/4;
      }

      & div:nth-child(3) {
        margin-top: 8px;
        grid-row: 5/6;
      }
    }

    @media only screen and (max-width: 500px) {
      justify-items: center;
    }
  }

  &image-wrapper {
    min-width: 160px;
    height: 160px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
  }

  &image-upload {
    position: absolute;
    background-color: rgba(#000, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      width: 40px;
      height: 40px;
    }

    &-dropzone {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;

      &>* {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }

  &image {
    height: 100%;
    transition: all ease-in-out 0.2s;
    transform: scale(1);
  }

  &heading {
    width: 100%;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;

    @media only screen and (max-width: 500px) {
      text-align: center;
    }
  }

  &body {
    font-size: 14px;
  }

  &stats-wrapper {
    display: flex;
    gap: 80px;
  }

  &stat-content {
    font-size: 36px;
    line-height: 100%;
    font-weight: 600;
    color: var(--primary);
  }
}

.user-banner_component:hover .user-banner_image {
  transform: scale(1.05);
}
