.loading-header,
.update-error_header {
  font-size: 36px;
  font-family: 'Alliance', sans-serif;
  line-height: 120%;
  margin-bottom: 12px;
  color: black;
}

.confirm-header,
.confirm-text {
  color: black;
}

.update-error_ {
  &text {
    color: red;
  }
}

.profile_ {
  &form {
    max-width: 640px;
  }
}