.page-padding {
  padding: 0 80px;
  height: 100%;

  @media only screen and (max-width: 1000px) {
    padding: 0 20px;
  }

  @media only screen and (max-width: 400px) {
    padding: 0 0;
  }
}

.container-large {
  max-width: 1280px;
  height: 100%;
}

.page-wrapper {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #161619;
}
