.error-message {
  color: #f44;
}

.success-message {
  color: #4f4;
}

.section- {
  &profile-info {
    width: 100%;
  }

  &collection {
    width: 100%;
  }
}

.gallery_wrapper {
  display: flex;
  justify-content: center;
}

.gallery_ {
  &component {
    padding: 40px 0;
    width: 100%;
  }

  &list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;

    @media only screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}