.section_market- {
  &hero {
    width: 100%;
  }
  &stories {
    width: 100%;
  }
  &categories {
    width: 100%;
  }
}

.market-categories_spacer {
  height: 40px;

  @media only screen and (max-width: 900px) {
    margin: 20px 0;
  }
}
