.item-card_ {
  &component {
    background-color: #fff;
  }

  &image {
    height: 30rem;
    width: 20rem;
    margin: auto;
  }

  &layout {

  }

  &image-wrapper {
    height: 500px;
    width: 100%;
    padding: 20px;
    background-color: rgba(#000, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &image {
    width: 100%;
    height: 100%;
    object-fit: contain;  
  }
  
  &content-wrapper {
    color: black;
    padding: 4px 20px;
  }

  &title {
    font-size: 20px;
    font-weight: 700;
  }
  
  &price {

  }

  &select-wrapper {
    padding: 8px 16px;
    width: 100%;
  }

  &selected {
    outline: 5px solid #54c4c8;
  }

  &noselect {
    outline: 5px solid transparent;
  }
}